div i.left{
    /*position: absolute;*/
    float: left;
    left:10px;
    top:10px;
}
div i.right{
    float: right;
    /*position: absolute;*/
    right:10px;
    bottom:10px;
}

.season-content{
    display: flex;
    justify-content: center;
}

.summer i{
    color: red;
}
.winter i{
    color: blue;
}