table.display{
    border: 1px solid blueviolet;
    font-family: courier new, helvetica, ms sans serif;
    font-size: 10pt;
}
.sel{
    border: 1px solid blueviolet;
    font-family: courier new, helvetica, ms sans serif;
    font-size: 12pt;
    color: teal;
    font-weight: bold;
}
td.display, th.display{
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    color: teal;
}
.companyName{
    color: red;
}
hr{
    color: blueviolet;
}
.reportName{
    color: blueviolet;
    font-family: courier new, helvetica, ms sans serif;
    font-size: 14pt;
    font-weight: bold;
}



#EZcalendar {
    display: none;
    position: absolute;
    margin: 0;
    z-index: 99;
    background: #005083;
    color: #fff;
    /* safer to use fixed font sizes */
    font: 11px Arial, Helvetica, sans-serif;
    border: 5px solid #044771;
}
#EZcalendar form {
    margin: 0;
    padding: 0;
}
#EZcalendar table {
    background: #005083;
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
#EZcalendar table td, #EZcalendar table th {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
/*tds*/
#EZcalendar table td a.outsideMonth {
    background: gray;
    color: #fff;
}
#EZcalendar table td a.today{
    background: #aaa;
    color: #fff;
}
#EZcalendar table td a {
    background: silver;
    color: #333;
    display: block;
    color: #333;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
}
#EZcalendar table td a:hover {
    color: #fff;
    background: red;
}

#EZcalendar table td#EZcalendar_text {
    background: #0E649B;
    text-align: center;
    width: 80px;
    height: 20px;
}

#EZcalendar input {
    border: none;
    background: #1C78B2;
    color: #fff;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}
#EZcalendar input.left {
    float: left;
}
#EZcalendar input.right {
    float: right;
}
#EZcalendar_table {
    clear: both;
}