body {
    color: #636363;
    font-size: 10pt;
}

.color1 {
    color: #008ECC;
}

a {
    color: #008ECC;
}
.click{
    cursor: pointer;
}

.header_area .main_menu .main_box {
    background: #fff;
    margin: 0 auto 0;
    max-width: 1200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.main_box {
    font-size: 10pt;
}


div .link_logo > a > img {
    height: 30px;
    width: 50px;
}

.productImages > div img {
    height: 250px;
    width: 250px;
    text-align: center;
    vertical-align: middle;
    left: 30%;
    top: 50%;
}

.priceline {
    font-weight: bold;
}


.cenAlign {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5em;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightgreen;
    }

    .productImages > div img {
        height: 250px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        left: 10%;
        top: 50%;
    }
}
