html, body {
    color: #636363;
    font-size: 10pt;
    margin-top: 6em;
    max-width: 1200px;
}

.color1 {
    color: #008ECC;
}

a {
    color: #008ECC;
}

a span {
    color: white;
}

.click {
    cursor: pointer;
}

.header_area .main_menu .main_box {
    background: #fff;
    margin: 0 auto 0;
    max-width: 1200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.cart_bg .card{
    color: #ff6347;
    font-weight: bolder;
    font-size: 14pt;
}
.cart_bg {
    color: white;
    background-color: #ff6347;
    right: 0;
    overflow: auto;
    position: relative;
}

.header_format {
    background-color: #3fcaff;
    color: #6a12c9;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.header_format div {
    display: inline-block;
    padding: 5px;
}

.right_content {
    text-align: right;
}

div .link_logo > a > img {
    height: 30px;
    width: 50px;
}

.top-control > button {
    display: inline-block;
}

.productImages > div img {
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    left: 30%;
    top: 50%;
}

.fixed-right {
    overflow: auto;
    position: absolute;
    right: 0;
    height: 400px;
    z-index: 1030
}

.priceline {
    font-weight: bold;
}


.cenAlign {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5em;
}

#id_div_cart {
    display: block;
}


@media only screen and (max-width: 600px) {

    html, body {
        color: #636363;
        font-size: 10pt;
        margin-top: 6em;
        max-width: 800px;
    }

    #id_div_cart {
        display: none;
    }

    .productImages > div img {
        height: 250px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        left: 10%;
        top: 50%;
    }

    .header_format div {
        display: inline;
        padding: 5px;
    }

    .cart_bg {
        top:20px;
        left:0;
        right: 0;
        width: 90%;
        height: 100%;
        position: fixed;
        z-index: 1100;
    }

}
