RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://dmonservices.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dmonservices.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dmonservices.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dmonservices.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dpresume.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dpresume.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sonicageindia.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sonicageindia.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sonicageindia.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sonicageindia.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dmonservices.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dmonservices.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dmonservices.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dmonservices.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dpresume.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dpresume.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sonicageindia.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sonicageindia.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sonicageindia.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sonicageindia.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dmonservices.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dmonservices.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dmonservices.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dmonservices.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dpresume.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dpresume.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sonicageindia.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sonicageindia.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sonicageindia.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sonicageindia.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dmonservices.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dmonservices.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dmonservices.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dmonservices.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dpresume.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dpresume.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dpresume.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sonicageindia.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sonicageindia.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sonicageindia.dpresume.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sonicageindia.dpresume.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|pdf|doc|docx|mp4)$ - [F,NC]

